@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Robotobold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

:root {
  --text-font-normal: "Roboto", sans-serif;
  --text-font-bold: "RobotoBold", sans-serif;
  --text-color: #005252;
  --text-color-hover: #007f80;
  --text-color-span: #0f2b2b;
  --text-color-footer: #cccccc;
  --text-size: 16px;
  --border-color: #0f2b2b;
  --footer-color: #0f2b2b;
  --border-style: solid;
  --main--color: radial-gradient(circle, #edf1cf, #58b6b9);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: var(--text-font-normal);
  font-size: 100%;
  line-height: 1;
  font-size: var(--text-size);
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: var(--main--color);
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  color: var(--text-color);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}
.header {
  box-sizing: border-box;
  padding: 20px;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr, 1fr;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header-title {
  color: var(--text-color);
  font-family: var(--text-font-bold);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-right: 1px var(--border-style) var(--border-color);
}
.title {
  font-size: 320%;
  text-align: center;
}

.title-content {
  font-size: 150%;
  font-style: italic;
  text-align: center;
  
}
.header-contacts {
}
.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  gap: 10px;
}
.contacts-item {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.contacts-item:hover {
  transform: scale(1.2);
  color: var(--text-color-hover);
}

.contacts-image {
  width: 32px;
  height: 32px;
}
.contacts-text {
  color: var(--text-color);
}
.header-menu {
  box-sizing: border-box;
  padding: 20px 0px;
  grid-column-start: 1;
  grid-column-end: 3;
  border-top: 1px var(--border-style) var(--border-color);
  border-bottom: 1px var(--border-style) var(--border-color);
  display: flex;
  align-items: center;
}
.menu-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: var(--text-font-bold);
  color: var(--text-color);
}
.menu-item {
  transition: all 0.5s ease;
  cursor: pointer;
}

.menu-item:hover {
  transform: scale(1.2);
  color: var(--text-color-hover);
}
.cv {
  padding: 20px;
  display: grid;
  grid-gap: 0px 30px;
  grid-template-columns: 1fr 2fr;
 /* grid-template-rows: repeat(1fr, 5);*/
}

.__one {
  /* border-left: 1px var(--border-style) var(--border-color);*/
  border-bottom: 1px var(--border-style) var(--border-color);
}

.__two {
  /*border-left: 1px var(--border-style) var(--border-color);*/
  border-bottom: 1px var(--border-style) var(--border-color);
}

.__three {
  border-top: 1px var(--border-style) var(--border-color);
  grid-row-start: 3;
  grid-row-end: 5;
}
.__four {
  /*border-left: 1px var(--border-style) var(--border-color);*/
  border-bottom: 1px var(--border-style) var(--border-color);
}
.__five {
  /* border-left: 1px var(--border-style) var(--border-color);*/
  border-bottom: 1px var(--border-style) var(--border-color);
}
.__six {
  border-top: 1px var(--border-style) var(--border-color);
  border-bottom: 1px var(--border-style) var(--border-color);
}
.__seven {
  /* border-left: 1px var(--border-style) var(--border-color);*/
  border-bottom: 1px var(--border-style) var(--border-color);
}
.__eight {
  grid-column-start: 2;
  grid-column-end: 3;
  /*border-left: 1px var(--border-style) var(--border-color);*/
  border-bottom: 1px var(--border-style) var(--border-color);
}
.cv-main_image {
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  justify-content: center;
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
  width: 100%;
}

.main-image {
  height: 100%;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
  border: 12px double var(--text-color);
}
.cv-block {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-image {
  width: 32px;
  height: 32px;
}
.block-title {
  display: flex;
  gap: 10px;
  align-items: center;
}
.title-text {
  color: var(--text-color);
  font-family: var(--text-font-bold);
  font-style: italic;
  font-size: 150%;
}

.block-content {
  color: var(--text-color);
  font-size: 120%;
  font-family: var(--text-font-normal);
  line-height: 150%;
}

.block-content_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-item {
  color: var(--text-color);
  font-size: 120%;
  font-family: var(--text-font-normal);
}

a {
  color: var(--text-color);
}

a:hover {
  color: var(--text-color-hover);
}
span {
  font-style: italic;
  color: var(--text-color-span);
}
footer {
  background-color: var(--footer-color);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.github-block {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}
.github-image {
}
.github-text {
  color: var(--text-color-footer);
  font-family: var(--text-font-bold);
  font-size: 150%;
  transition: all 0.5s ease;
}

.github-text:hover {
  transform: scale(1.2);
}
.linkedin-block {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}
.linkedin-image {
}

.linkedin-text {
  color: var(--text-color-footer);
  font-family: var(--text-font-bold);
  font-size: 150%;
  transition: all 0.5s ease;
}

.linkedin-text:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 1200px) {
  .main-wrapper {
  }
  .header {
    padding: 20px 20px;
    grid-row-gap: 20px;
    grid-template-columns: 3fr, 1fr;
    grid-template-rows: 2fr, 1fr;
  }

  .header-title {
  }
  .title {
    font-size: 320%;
  }

  .title-content {
    font-size: 150%;
  }
  .header-contacts {
  }
  .contacts-list {
  }
  .contacts-item {
  }

  .contacts-image {
    width: 32px;
    height: 32px;
  }
  .contacts-text {
  }
  .header-menu {
    box-sizing: border-box;
    padding: 20px 0px;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
  }
  .menu-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .cv {
    padding: 20px 0px;
    display: grid;
    grid-gap: 0px 30px;
    grid-template-columns: 1fr 2fr;
    /*grid-template-rows: 1fr 1fr 1.5fr 1.5fr 1fr 1fr;*/
  }

  .__one {
  }

  .__two {
  }

  .__three {
    grid-row-start: 3;
  grid-row-end: 4;
  }
  .__four {
    border-bottom: none;
    
  }
  .__five {
    border-top: 1px var(--border-style) var(--border-color);
    grid-column-start: 1;
  grid-column-end: 3;
  }
  .__six {
    border-top: none;
    border-bottom: none;
  }
  .__seven {
    border-bottom: none;
  }
  .__eight {
    border-top: 1px var(--border-style) var(--border-color);
    grid-column-start: 1;
  grid-column-end: 3;
  }
  .cv-main_image {
    padding: 15px;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
  }

  .main-image {
    height: 95%;
    border: 8px double var(--text-color);
  }
  .cv-block {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title-image {
    width: 32px;
    height: 32px;
  }
  .block-title {
    gap: 10px;
  }
  .title-text {
    font-size: 150%;
  }

  .block-content {
    font-size: 120%;
    line-height: 150%;
  }

  .block-content_list {
    gap: 10px;
  }

  .content-item {
    font-size: 120%;
  }

  a {
  }

  a:hover {
  }
  span {
  }
  footer {
  }

  .footer {
    justify-content: space-between;
    padding: 20px;
  }
  .github-block {
    gap: 15px;
  }
  .github-image {
  }
  .github-text {
    font-size: 150%;
  }

  .github-text:hover {
  }
  .linkedin-block {
    gap: 15px;
  }
  .linkedin-image {
  }

  .linkedin-text {
    font-size: 150%;
  }

  .linkedin-text:hover {
  }
}


@media screen and (max-width: 1000px) {
  .main-wrapper {
  }
  .header {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }

  .header-title {
    border-right: none;
  }
  .title {
    font-size: 320%;
  }

  .title-content {
    font-size: 150%;
  }
  .header-contacts {
   
  }
  .contacts-list {
    flex-direction: row;
    justify-content: center;
  }
  .contacts-item {
  }

  .contacts-image {
    width: 32px;
    height: 32px;
  }
  .contacts-text {
  }
  .header-menu {
    
    padding: 20px 0px;
    flex-wrap: wrap;
  }
  .menu-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .cv {
    padding: 20px 0px;
    gap: 0px 30px;
    grid-template-columns: 1fr 3fr;
    
  }

    .cv-main_image {
    padding: 15px;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
  }

  .main-image {
    height: 90%;
    border: 8px double var(--text-color);
  }
  .cv-block {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .title-image {
    width: 32px;
    height: 32px;
  }
  .block-title {
    gap: 10px;
  }
  .title-text {
    font-size: 150%;
  }

  .block-content {
    font-size: 120%;
    line-height: 150%;
  }

  .block-content_list {
    gap: 10px;
  }

  .content-item {
    font-size: 120%;
  }

  a {
  }

  a:hover {
  }
  span {
  }
  footer {
  }

  .footer {
    justify-content: space-between;
    padding: 20px;
  }
  .github-block {
    gap: 15px;
  }
  .github-image {
  }
  .github-text {
    font-size: 150%;
  }

  .github-text:hover {
  }
  .linkedin-block {
    gap: 15px;
  }
  .linkedin-image {
  }

  .linkedin-text {
    font-size: 150%;
  }

  .linkedin-text:hover {
  }
}


@media screen and (max-width: 900px) {

  .cv {
    padding: 20px 0px;
    gap: 0px 30px;
    grid-template-columns: 1fr 1fr;
    
  }
  .__one {
    grid-column-start: 1;
    grid-column-end: 3;
   
  }

  .__two {
    border-bottom: none;
  }

  .__three {

    border-top: none;
   
  }
  .__four {
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 1px var(--border-style) var(--border-color);
  }
  .__five {
  }
  .__six {
  }
  .__seven {
  }
  .__eight {
  }
  .cv-main_image {
    padding: 15px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    
  }

  .main-image {
    height: 100%;
    border: 8px double var(--text-color);
  }
}


@media screen and (max-width: 850px) {

  
}